* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  padding: 3rem 1rem;
  max-width: 1400px;
  margin-inline: auto;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

p {
  line-height: 1.8;
  color: #333;
}

form {
  margin-bottom: 4rem;
  max-width: 800px;
}

form label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

form input {
  background-color: transparent;
  color: #333;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid #848484;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  width: 100%;
}

form input:focus {
  border-color: #333;
}

section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

section div.details {
  background-color: #fff;
  padding: 1.5rem;
}

section article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section h2 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  body {
    padding: 8rem 1rem;
  }

  section {
    grid-template-columns: repeat(3, 1fr);
  }
}
